.cardGrid {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
@media (min-width: 600px) {
    .cardGrid {
        margin-left: 20px;
        margin-right: 20px;
        width: calc(100% - 40px);
    }
}
@media (min-width: 1920px) {
    .cardGrid {
        margin-left: auto;
        margin-right: auto;
        max-width: 1880px;
    }
}

.cardGridItem {
    max-width: 300px;
    margin: 10px;
}

@media (max-width: 680px) {
    .cardGridItem {
        max-width: 500px;
    }
}